
nav {
  display: flex;
  justify-content: space-around;
  background-color: #98a9e6;
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: underline;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;

}

nav a.active {
  color: red;
}

nav a:hover {
    color: #960000;
}
